In [1]:
import pandas as pd
import numpy as np
from collections import Counter

In [2]:
ball_by_bal = pd.read_csv('IPL Ball-by-Ball 2008-2020.csv')
ball_by_bal.head(2)

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

In [3]:
df_matches = pd.read_csv('IPL Matches 2008-2020.csv')
df_matches.head(2)

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri

In [4]:
df_matches['Year'] = pd.DatetimeIndex(df_matches['date']).year
df_matches.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2,Year
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,2008
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri,2008
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar,2008
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper,2008
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan,2008

In [5]:
df_matches.shape

(816, 18)

In [6]:
df_matches['Year'].unique()

array([2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018,
       2019, 2020], dtype=int64)

In [7]:
df_matches.isnull().sum()

id                   0
city                13
date                 0
player_of_match      4
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               4
result               4
result_margin       17
eliminator           4
method             797
umpire1              0
umpire2              0
Year                 0
dtype: int64

In [8]:
df_2008 = df_matches.loc[(df_matches['Year']==2008)]
df_2009 = df_matches.loc[(df_matches['Year']==2009)]
df_2010 = df_matches.loc[(df_matches['Year']==2010)]
df_2011 = df_matches.loc[(df_matches['Year']==2011)]
df_2012 = df_matches.loc[(df_matches['Year']==2012)]
df_2013 = df_matches.loc[(df_matches['Year']==2013)]
df_2014 = df_matches.loc[(df_matches['Year']==2014)]
df_2015 = df_matches.loc[(df_matches['Year']==2015)]
df_2016 = df_matches.loc[(df_matches['Year']==2016)]
df_2017 = df_matches.loc[(df_matches['Year']==2017)]
df_2018 = df_matches.loc[(df_matches['Year']==2018)]
df_2019 = df_matches.loc[(df_matches['Year']==2019)]
df_2020 = df_matches.loc[(df_matches['Year']==2020)]

In [9]:
df_list = [df_2008,df_2009,df_2010,df_2011,df_2012,df_2013,df_2014,df_2015,df_2016,df_2017,df_2018,df_2019,df_2020]

In [10]:
df_2008.head(3)

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2,Year
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,2008
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri,2008
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar,2008

In [35]:
def teamwin(team_name,year):
    matcher = df_matches.loc[(df_matches['winner']==team_name) & (df_matches['Year']==year)]
    return matcher.shape[0]

In [36]:
temp = teamwin('Rajasthan Royals',2008)
temp

13

In [37]:
year_list = [i for i in range(2008,2021)]
year_list

[2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]

In [38]:
teams_list = ['Kolkata Knight Riders', 'Chennai Super Kings', 'Delhi Daredevils',
       'Royal Challengers Bangalore', 'Rajasthan Royals',
       'Kings XI Punjab', 'Deccan Chargers', 'Mumbai Indians',
       'Pune Warriors', 'Kochi Tuskers Kerala',
       'Sunrisers Hyderabad', 'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals']

In [39]:
len(teams_list),len(year_list)

(15, 13)

In [44]:
totalwins = []
for i in range(0,len(teams_list)):
    susbset = []
    for j in range(0,len(year_list)):
        susbset.append(teamwin(teams_list[i],year_list[j]))
        
    totalwins.append(susbset)

In [45]:
totalwins

[[6, 3, 7, 8, 12, 6, 11, 7, 8, 9, 9, 6, 7],
 [9, 8, 9, 11, 10, 12, 10, 10, 0, 0, 11, 10, 6],
 [7, 10, 7, 4, 11, 3, 2, 5, 7, 6, 5, 0, 0],
 [4, 9, 8, 10, 8, 9, 5, 8, 9, 3, 6, 5, 7],
 [13, 6, 6, 6, 7, 11, 7, 7, 0, 0, 7, 5, 6],
 [10, 7, 4, 7, 8, 8, 12, 3, 4, 7, 6, 6, 6],
 [2, 9, 8, 6, 4, 0, 0, 0, 0, 0, 0, 0, 0],
 [7, 5, 11, 10, 10, 13, 7, 10, 7, 12, 6, 11, 11],
 [0, 0, 0, 4, 4, 4, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 10, 6, 7, 11, 8, 10, 6, 8],
 [0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 9, 4, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 9]]

In [46]:
win_dict = dict(zip(teams_list,totalwins))
win_dict

{'Kolkata Knight Riders': [6, 3, 7, 8, 12, 6, 11, 7, 8, 9, 9, 6, 7],
 'Chennai Super Kings': [9, 8, 9, 11, 10, 12, 10, 10, 0, 0, 11, 10, 6],
 'Delhi Daredevils': [7, 10, 7, 4, 11, 3, 2, 5, 7, 6, 5, 0, 0],
 'Royal Challengers Bangalore': [4, 9, 8, 10, 8, 9, 5, 8, 9, 3, 6, 5, 7],
 'Rajasthan Royals': [13, 6, 6, 6, 7, 11, 7, 7, 0, 0, 7, 5, 6],
 'Kings XI Punjab': [10, 7, 4, 7, 8, 8, 12, 3, 4, 7, 6, 6, 6],
 'Deccan Chargers': [2, 9, 8, 6, 4, 0, 0, 0, 0, 0, 0, 0, 0],
 'Mumbai Indians': [7, 5, 11, 10, 10, 13, 7, 10, 7, 12, 6, 11, 11],
 'Pune Warriors': [0, 0, 0, 4, 4, 4, 0, 0, 0, 0, 0, 0, 0],
 'Kochi Tuskers Kerala': [0, 0, 0, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 'Sunrisers Hyderabad': [0, 0, 0, 0, 0, 10, 6, 7, 11, 8, 10, 6, 8],
 'Rising Pune Supergiants': [0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0, 0, 0],
 'Gujarat Lions': [0, 0, 0, 0, 0, 0, 0, 0, 9, 4, 0, 0, 0],
 'Rising Pune Supergiant': [0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 0, 0, 0],
 'Delhi Capitals': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 9]}

In [48]:
df_random = pd.DataFrame(win_dict)
df_random = df_random.T
df_random

,0,1,2,3,4,5,6,7,8,9,10,11,12
Kolkata Knight Riders,6,3,7,8,12,6,11,7,8,9,9,6,7
Chennai Super Kings,9,8,9,11,10,12,10,10,0,0,11,10,6
Delhi Daredevils,7,10,7,4,11,3,2,5,7,6,5,0,0
Royal Challengers Bangalore,4,9,8,10,8,9,5,8,9,3,6,5,7
Rajasthan Royals,13,6,6,6,7,11,7,7,0,0,7,5,6
Kings XI Punjab,10,7,4,7,8,8,12,3,4,7,6,6,6
Deccan Chargers,2,9,8,6,4,0,0,0,0,0,0,0,0
Mumbai Indians,7,5,11,10,10,13,7,10,7,12,6,11,11
Pune Warriors,0,0,0,4,4,4,0,0,0,0,0,0,0
Kochi Tuskers Kerala,0,0,0,6,0,0,0,0,0,0,0,0,0
Sunrisers Hyderabad,0,0,0,0,0,10,6,7,11,8,10,6,8
Rising Pune Supergiants,0,0,0,0,0,0,0,0,5,0,0,0,0
Gujarat Lions,0,0,0,0,0,0,0,0,9,4,0,0,0
Rising Pune Supergiant,0,0,0,0,0,0,0,0,0,10,0,0,0
Delhi Capitals,0,0,0,0,0,0,0,0,0,0,0,10,9

In [49]:
df_random.columns = year_list
df_random

,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Kolkata Knight Riders,6,3,7,8,12,6,11,7,8,9,9,6,7
Chennai Super Kings,9,8,9,11,10,12,10,10,0,0,11,10,6
Delhi Daredevils,7,10,7,4,11,3,2,5,7,6,5,0,0
Royal Challengers Bangalore,4,9,8,10,8,9,5,8,9,3,6,5,7
Rajasthan Royals,13,6,6,6,7,11,7,7,0,0,7,5,6
Kings XI Punjab,10,7,4,7,8,8,12,3,4,7,6,6,6
Deccan Chargers,2,9,8,6,4,0,0,0,0,0,0,0,0
Mumbai Indians,7,5,11,10,10,13,7,10,7,12,6,11,11
Pune Warriors,0,0,0,4,4,4,0,0,0,0,0,0,0
Kochi Tuskers Kerala,0,0,0,6,0,0,0,0,0,0,0,0,0
Sunrisers Hyderabad,0,0,0,0,0,10,6,7,11,8,10,6,8
Rising Pune Supergiants,0,0,0,0,0,0,0,0,5,0,0,0,0
Gujarat Lions,0,0,0,0,0,0,0,0,9,4,0,0,0
Rising Pune Supergiant,0,0,0,0,0,0,0,0,0,10,0,0,0
Delhi Capitals,0,0,0,0,0,0,0,0,0,0,0,10,9

In [55]:
total_sums = [sum(totalwins[i]) for i in range(0,len(totalwins))]
total_sums

[99, 106, 67, 91, 81, 88, 29, 120, 12, 6, 66, 5, 13, 10, 19]

In [56]:
df_random['Total_wins'] = total_sums
df_random

,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,Total_wins
Kolkata Knight Riders,6,3,7,8,12,6,11,7,8,9,9,6,7,99
Chennai Super Kings,9,8,9,11,10,12,10,10,0,0,11,10,6,106
Delhi Daredevils,7,10,7,4,11,3,2,5,7,6,5,0,0,67
Royal Challengers Bangalore,4,9,8,10,8,9,5,8,9,3,6,5,7,91
Rajasthan Royals,13,6,6,6,7,11,7,7,0,0,7,5,6,81
Kings XI Punjab,10,7,4,7,8,8,12,3,4,7,6,6,6,88
Deccan Chargers,2,9,8,6,4,0,0,0,0,0,0,0,0,29
Mumbai Indians,7,5,11,10,10,13,7,10,7,12,6,11,11,120
Pune Warriors,0,0,0,4,4,4,0,0,0,0,0,0,0,12
Kochi Tuskers Kerala,0,0,0,6,0,0,0,0,0,0,0,0,0,6
Sunrisers Hyderabad,0,0,0,0,0,10,6,7,11,8,10,6,8,66
Rising Pune Supergiants,0,0,0,0,0,0,0,0,5,0,0,0,0,5
Gujarat Lions,0,0,0,0,0,0,0,0,9,4,0,0,0,13
Rising Pune Supergiant,0,0,0,0,0,0,0,0,0,10,0,0,0,10
Delhi Capitals,0,0,0,0,0,0,0,0,0,0,0,10,9,19

In [57]:
df_random = df_random.sort_values('Total_wins',axis = 0,ascending=False)
df_random

,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,Total_wins
Mumbai Indians,7,5,11,10,10,13,7,10,7,12,6,11,11,120
Chennai Super Kings,9,8,9,11,10,12,10,10,0,0,11,10,6,106
Kolkata Knight Riders,6,3,7,8,12,6,11,7,8,9,9,6,7,99
Royal Challengers Bangalore,4,9,8,10,8,9,5,8,9,3,6,5,7,91
Kings XI Punjab,10,7,4,7,8,8,12,3,4,7,6,6,6,88
Rajasthan Royals,13,6,6,6,7,11,7,7,0,0,7,5,6,81
Delhi Daredevils,7,10,7,4,11,3,2,5,7,6,5,0,0,67
Sunrisers Hyderabad,0,0,0,0,0,10,6,7,11,8,10,6,8,66
Deccan Chargers,2,9,8,6,4,0,0,0,0,0,0,0,0,29
Delhi Capitals,0,0,0,0,0,0,0,0,0,0,0,10,9,19
Gujarat Lions,0,0,0,0,0,0,0,0,9,4,0,0,0,13
Pune Warriors,0,0,0,4,4,4,0,0,0,0,0,0,0,12
Rising Pune Supergiant,0,0,0,0,0,0,0,0,0,10,0,0,0,10
Kochi Tuskers Kerala,0,0,0,6,0,0,0,0,0,0,0,0,0,6
Rising Pune Supergiants,0,0,0,0,0,0,0,0,5,0,0,0,0,5

In [58]:
df_random.to_csv('TeamWins.csv')